html,body {
  position: absolute;
  height: 0;
  width: 0;
	background-image: url("Gerb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
	text-align: center;
  font-weight: 300;
  background-size: cover; 
  min-height: 100%;
  min-width: 100%;


} 

section {
  	color: #969687;
  	margin: 20px 20px 20px 20px;
    border: 3px solid;
    border-radius: 25px;
    }

.about {
  color: #C2D8F3;
}
     
.headers {
  font-size: 25px;
  color:rgb(207, 207, 207)
}
 

.textcolor {
  color: #EEECFF;
}

.paragraph-color {
  color: #EEECFF;
  display: flex;
  margin: 0 auto;
}

.paragraph1 {
  margin: 0 0 10px;
  padding: 10px;
  padding-left: 111px;
}

.paragraph2 {
  margin: 0 0 10px;
  padding-left: 95px;
}

.paragraph3 {
  padding-left: 68px;
  margin: 0 0 10px;
}

#carousel-example-generic {
width: 500px;
/* Centers Carousel*/
margin: 0px auto;
}

#nav-collapse {
  background-color: black;
}

.social {
  text-align: center;
}

.navbar-header {
  background-color: black;
}

.navbar-toggle .icon-bar {
background-color: #887575;
}

.dropdown-menu {
  background-color: black;
}

@media screen and (max-width:320px) {
  #carousel-example-generic {
    width: 100%;
  }

}