html,body {
	background-image: url("Gerb.jpg"); 
  font-family: 'Open Sans', sans-serif;
	text-align: center;
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
} 
    Section {
    	color: #969687;
    	margin: 20px 20px 20px 20px;
        border: 3px solid;
        border-radius: 25px;
    }
.thehead {
  font-size: 25px
}
 
.aboutme {
  text-align: center;
  color: rgb(138, 150, 138) ;
}